@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  background: #fff;
  font-family: "DM Sans";
  overflow-x: hidden;
}